[Unit]
Description=Telegram Bot to issue certain commands to mscs
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/mscs/git/mscs_bot
ExecStart=/opt/mscs/git/mscs_bot/main.py
KillMode=process
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
